* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.searchForm {
  display: flex;
  margin: 0 10px;
}

.searchForm label {
  position: absolute;
  display: none;
}

.searchForm input {
  min-height: 48px;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.addForm {
  display: flex;
  margin: 10px;
}

.addForm label {
  position: absolute;
  display: none;
}

.addForm input[type="text"] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: green;
  color: white;
}

select {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}
select option {
  font-size: 18px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: antiquewhite;
  margin: 10px 0 5px;
  list-style: none;
}

.list div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.list div input {
  width: 40px;
  height: 40px;
}
.list div label {
  cursor: pointer;
}

.list svg {
  font-size: 2rem;
  cursor: pointer;
}

.list svg:hover {
  color: red;
}

footer {
  text-align: center;
  background-color: royalblue;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
